body {
  margin: 0;
}

.container {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  font-size: 50px;
}

.container:after {
  content: '';
  background-image: url(../public/beit-hamikdash.png);
  background-size: cover;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.3;
}

.name {
  font-size: 60px;
}

.jewish-week {
  margin-top: 15px;
  font-size: 90px;
}

.jewish-date {
  margin-top: 10px;
  font-size: 70px;
}

.grid {
  direction: rtl;
  display: grid;
  grid-template-areas:
    'top-left . top-center . top-right'
    'left .center . right'
    'bottom-left . bottom-center . bottom-right';
  justify-items: center;
  align-items: center;
  height: 10vh;
}

.top-left {
  grid-area: top-left;
}

.top-center {
  grid-area: top-center;
}

.top-right {
  grid-area: top-right;
}

.center {
  grid-area: center;
}

.bottom-left {
  grid-area: bottom-left;
}

.bottom-center {
  grid-area: bottom-center;
}

.bottom-right {
  grid-area: bottom-right;
}

.placeholder {
  height: 160px;
}

label {
  font-size: 60px;
}

.time {
  font-size: 120px;
}

.time-now {
  font-size: 220px;
}

.shabbat-space {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-evenly;
}
